@model List<TeamMember>
@{
    ViewData["Title"] = "TeamMember";
}

<section class="container py-5">
    <div class="col-lg-9 row">
        <partial name="TeamMemberPartialView" model="Model" />
    </div>
</section>